USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachDDHChuaLapPN]    Script Date: 12/23/2018 5:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DanhSachDDHChuaLapPN]
AS 
BEGIN
	SELECT DH.MasoDDH, DH.NGAY,DH.NhaCC,
	HOTENNV = (SELECT CONCAT(HO, ' ', TEN) FROM dbo.NhanVien WHERE MANV = DH.MANV), 
	TENVT = (SELECT VT.TENVT FROM dbo.Vattu AS VT WHERE VT.MAVT = CT.MAVT), 
	CT.SOLUONG, CT.DONGIA 
	FROM dbo.CTDDH AS CT
	INNER JOIN(
		SELECT MasoDDH, NGAY, NhaCC, MANV FROM dbo.DatHang
		WHERE MasoDDH NOT IN( SELECT MasoDDH 
							  FROM dbo.PhieuNhap)
	) AS DH
	ON DH.MasoDDH = CT.MasoDDH
END
GO
