USE [QLVT]
GO
/****** Object:  View [dbo].[ListMANV]    Script Date: 12/23/2018 5:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListMANV]
AS
SELECT NV1.MANV FROM dbo.NhanVien AS NV1
UNION 
SELECT NV2.MANV FROM LINK.QLVT.dbo.NhanVien AS NV2
GO
