USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_InfoNV]    Script Date: 12/23/2018 5:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InfoNV]
@MANV INT
AS
BEGIN
	SELECT MANV, CONCAT(HO, ' ', TEN) AS HOTEN, NGAYSINH, DIACHI, LUONG, MACN
	FROM dbo.NhanVien 
	WHERE MANV = @MANV
END
GO
