USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateChuyenCN]    Script Date: 12/23/2019 5:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateChuyenCN]
@CURRENT_MANV INT, @ORTHER_MANV INT
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRY
		BEGIN DISTRIBUTED TRANSACTION
		UPDATE LINK.QLVT.dbo.NhanVien
		SET TrangThaiXoa = 0
		WHERE MANV = @ORTHER_MANV
		UPDATE dbo.NhanVien
		SET TrangThaiXoa = 1
		WHERE MANV = @CURRENT_MANV
		IF(@@TRANCOUNT > 0)
		BEGIN
			PRINT 'Commit Success'
			COMMIT TRANSACTION
			RETURN 1	--Thành công
		END
	END TRY
	BEGIN CATCH
		IF(@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
			PRINT 'Commit Failure'
			RETURN 0	--Thất bại
		END
	END CATCH
END
GO
